body{
    margin: 0;
}

#app{
    width: 1440px;
    font-family: 'Merriweather Sans' , sans-serif;
    background-color: #E1E8E9;
    margin: 0;
    color: #3E3E3E;
    padding-bottom: 83px;
}

header{
    width: 1440px;
    display: flex;
    background-color: #FFFFFF;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header > img{
    margin: 27px 0px 26px 32px ;
}

.new_task{
    width: 167px;
    display: flex;
    align-items: center;
    background-color: #00B49E;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 31px 0px 30px 0px;
}
.new_task:hover{
    background-color: #53e3d3;
    cursor: pointer;
}

.new_task > p:nth-child(1){
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-left: 9px;
}

.new_task > p:nth-child(2){
    font-size: 22px;
    line-height: 50px;
    margin: 0;
    margin-left: 7px;
}

header > input{
    width: 493px;
    font-family: 'Arial' , sans-serif;
    border: 2px solid #00B49E;
    padding: 13px 0 10px 30px;
    margin: 31px 93px 30px 198px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

header > input:hover{
    border: 2px solid #53e3d3;
}

header > input:focus{
    border: 2px solid #00B49E;
}


.darkButton{
    width: 16px;
    border-radius: 11px;
    background-color: #3E3E3E;
    padding: 3px 5px 0px 25px;
    margin: 45px 81px 45px 124px;
}

.darkButton:hover{
    background-color: #707070;
    cursor: pointer;
}

.darkButtonCircle{
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
    
}


/* container */ 

.containerTask{
    margin: 0;
    margin-top: 69px;
    margin-left: 21px;
    display: flex;
}

.plannedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #86D3EB ;
    background-color: #FFFFFF; 
}

.planned{
    display: flex;
    font-size: 24px;
    align-items: center;
    border-bottom: 2px solid #E1E8E9;
}

.title{
    margin-left: 30px;
}

.plannedCount{
    margin-left: 15px;
    border: 1px solid #3E3E3E;
    border-radius: 8px;
    width: 37px;
    text-align: center;
    line-height: 38px;
}

.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00B49E;
    margin: 0;
    padding: 21px 0px 21px 0px;
}

.addTask:hover{
    cursor: pointer;
   color: #53e3d3;
 
}

.addTaskPlus{
    font-size: 47px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
  
}

.addTaskText{
    margin: 0;
    font-size: 22px;
    margin-left: 8px;
}

.inProgressContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #F6DA44 ;
    background-color: #FFFFFF; 
    margin-left: 21px;
}

.inProgress{
    display: flex;
    font-size: 24px;
    align-items: center;
    border-bottom: 2px solid #E1E8E9;
}

.inProgressCount{
    margin-left: 15px;
    border: 1px solid #3E3E3E;
    border-radius: 8px;
    width: 37px;
    text-align: center;
    line-height: 38px;
}


.completedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #9FD700;
    background-color: #FFFFFF; 
    margin-left: 21px;
}


.completed{
    display: flex;
    font-size: 24px;
    align-items: center;
    border-bottom: 2px solid #E1E8E9;
}

.completedCount{
    margin-left: 15px;
    border: 1px solid #3E3E3E;
    border-radius: 8px;
    width: 37px;
    text-align: center;
    line-height: 38px;
}

.completed > img{
    margin-left: 170px;
}



/* modal */ 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
}

.modalContent {
    background-color: #fff;
    padding-left: 42px;
    border-radius: 15px;
    width:395px;
    margin: 180px 0px 0px 495px;
    position: relative;
    display: block;
    padding-bottom: 25px;
}

.modalContent > *{
    grid-row-start: 1;
    grid-column-start: 1;
}

.taskDescription{
    width: 395px;
    display: flex;
}

.taskDescription > p:nth-child(1){
    font-size: 24px;
    margin: 0;
    margin-top: 33px;
    white-space: nowrap;
}

.taskDescription > p:nth-child(1):hover{
    cursor: pointer;
}

.taskDescription > p:nth-child(1):hover~img{
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(257%) hue-rotate(118deg) brightness(96%) contrast(91%);
}

.taskDescription > img:nth-child(2){
    margin-top: 35px;
    padding-left: 20px;
}

.taskDescription > p:nth-child(3){
    font-size: 50px;
    margin-left: auto;
    margin-right: 17px;
    rotate: 45deg;
    line-height: 0px;
    margin-top: 32px;
}

.clear:hover{
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(257%) hue-rotate(118deg) brightness(96%) contrast(91%);
    cursor: pointer;
}

.modalContent > input:nth-child(2){
    width: 262px;
    font-size: 16px;
    outline: none;
    margin: 0;
    margin-top: 15px;
    padding: 16px 62px 13px 23px;
    border-radius: 8px;
    border: 2px solid #E1E8E9;
    font-weight: 500;
    font-family: 'Arial' , sans-serif;
}

.textArea{
    width: 301px;
    font-family: 'Arial' , sans-serif;
    font-size: 16px;
    outline: none;
    margin: 0;
    margin-top: 19px;
    padding: 16px 23px 20px 23px;
    border-radius: 8px;
    border: 2px solid #E1E8E9;
    line-height: 30px;
    resize: none;
}

.buttonModal{
    display: flex;
    margin-top: 18px;
}

label{
    display: block;
    margin: 0;
    width: 103px;
    color: #FFFFFF;
    background-color: #9B9B9B;
    text-align: center;
    line-height: 31px;
    border-radius: 5px;
}

.onHold > label{
    margin-left: 35px;
}

.urgent > label:hover{
    background-color: #ff6c6c;
    cursor: pointer;
    transition: color 0s;
} 

.onHold > label:hover{
    background-color: #FFB951;
    cursor: pointer;
} 

.urgent > input:checked +label{
    background-color: #FF3838;
}

.onHold > input:checked +label{
    background-color: #FF9900;
}

.urgent > input, .onHold > input {
    display: none;
}

.modalContent > p:nth-child(5){
    width: 350px;
    color: #ffffff;
    background-color: #00B49E;
    text-align: center;
    line-height: 42px;
    border-radius: 10px;
    margin: 0;
    margin-top: 35px;
}

.modalContent > p:nth-child(5):hover{
    cursor: pointer;
    background-color: #53e3d3;
}

.error::placeholder{
    color: red;
}


/* task */ 

li{
    list-style: none;
}

.task{
    width: 405px;
    padding-left: 21px;
    font-family: 'Merriweather Sans' , sans-serif;
    font-weight: 500;
    border: 2px solid #E1E8E9;
    border-radius: 8px;
}

.noClickedTask{
    width: 405px;
    display: flex;
    align-items: center;
    margin: 0;
}

.noClickedTask > p:nth-child(1){
    font-size: 20px;
    color: #3E3E3E;
    margin: 0;
}

.alert{
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background-color: #FF3838;
}

.noClickedTask > p:nth-child(3){
    font-size: 40px;
    color: #9B9B9B;
    margin: 0;
    margin-left: auto;
    margin-right:  -6px;
    rotate: 90deg;
    letter-spacing: 0.1px;
    font-weight: 700;

}
