body{
    margin: 0;
}

#app{
    width: 1440px;
    font-family: 'Merriweather Sans' , sans-serif;
    margin: 0;
    
    padding-bottom: 83px;
}

.clearApp{
    background-color: #E1E8E9;
    color: #3E3E3E;
}

header{
    width: 1440px;
    display: flex;
    background-color: #FFFFFF;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header > img:nth-child(1){
    margin: 27px 0px 26px 32px ;
}

.darkLogoHidden{
    display: none;
}


.new_task{
    width: 167px;
    display: flex;
    align-items: center;
    background-color: #00B49E;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 31px 0px 30px 0px;
}

.new_task:hover{
    background-color: #53e3d3;
    cursor: pointer;
}

.new_task > p:nth-child(1){
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-left: 9px;
}

.new_task > p:nth-child(2){
    font-size: 22px;
    line-height: 50px;
    margin: 0;
    margin-left: 7px;
}

header > input{
    width: 493px;
    font-family: 'Arial' , sans-serif;
    border: 2px solid #00B49E;
    padding: 13px 0 10px 30px;
    margin: 31px 93px 30px 198px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

header > input:hover{
    border: 2px solid #53e3d3;
}

header > input:focus{
    border: 2px solid #00B49E;
}


.darkButton{
    width: 16px;
    border-radius: 11px;
    background-color: #3E3E3E;
    padding: 3px 5px 0px 25px;
    margin: 45px 81px 45px 124px;
    transition: padding 0.3s ease;
    
}

.darkButton:hover{
    background-color: #707070;
    cursor: pointer;
}

.darkButtonCircle{
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
}


/* container */ 

.containerTask{
    margin: 0;
    margin-top: 69px;
    margin-left: 21px;
    display: flex;
}

.plannedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #86D3EB ;
    background-color: #FFFFFF; 
}

.planned{
    display: flex;
    font-size: 24px;
    align-items: center;
    border-bottom: 2px solid #E1E8E9;
}

.title{
    margin-left: 30px;
}

.plannedCount{
    margin-left: 15px;
    border: 1px solid #3E3E3E;
    border-radius: 8px;
    width: 37px;
    text-align: center;
    line-height: 38px;
}

.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00B49E;
    margin: 0;
    padding: 21px 0px 21px 0px;
}

.addTask:hover{
    cursor: pointer;
   color: #53e3d3;
 
}

.addTaskPlus{
    font-size: 47px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
  
}

.addTaskText{
    margin: 0;
    font-size: 22px;
    margin-left: 8px;
}

.inProgressContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #F6DA44 ;
    background-color: #FFFFFF; 
    margin-left: 21px;
}

.inProgress{
    display: flex;
    font-size: 24px;
    align-items: center;
    border-bottom: 2px solid #E1E8E9;
}

.inProgressCount{
    margin-left: 15px;
    border: 1px solid #3E3E3E;
    border-radius: 8px;
    width: 37px;
    text-align: center;
    line-height: 38px;
}


.completedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #9FD700;
    background-color: #FFFFFF; 
    margin-left: 21px;
}


.completed{
    display: flex;
    font-size: 24px;
    align-items: center;
    border-bottom: 2px solid #E1E8E9;
}

.completedCount{
    margin-left: 15px;
    border: 1px solid #3E3E3E;
    border-radius: 8px;
    width: 37px;
    text-align: center;
    line-height: 38px;
}

.completed > img{
    margin-left: 170px;
}



/* modal */ 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
}

.modalContent {
    background-color: #fff;
    padding-left: 42px;
    border-radius: 15px;
    width:395px;
    margin: 180px 0px 0px 495px;
    position: relative;
    display: block;
    padding-bottom: 25px;
}

.modalContent > *{
    grid-row-start: 1;
    grid-column-start: 1;
}

.taskDescription > p:nth-child(1):hover + .clear{
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(257%) hue-rotate(118deg) brightness(96%) contrast(91%);
}

.taskDescription{
    width: 395px;
    display: flex;
}

.taskDescription > p:nth-child(1){
    font-size: 24px;
    margin: 0;
    margin-top: 33px;
    white-space: nowrap;
}

.taskDescription > p:nth-child(1):hover{
    cursor: pointer;
}


.taskDescription > img:nth-child(2){
    margin-top: 35px;
    padding-left: 20px;
}

.taskDescription > p:nth-child(3){
    font-size: 50px;
    margin-left: auto;
    margin-right: 17px;
    rotate: 45deg;
    line-height: 0px;
    margin-top: 32px;
}

.clear:hover{
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(257%) hue-rotate(118deg) brightness(96%) contrast(91%);
    cursor: pointer;
}

.dark{
    filter: invert(99%) sepia(0%) saturate(3931%) hue-rotate(91deg) brightness(122%) contrast(78%);
}

.dark:hover{
    filter: invert(100%) sepia(24%) saturate(5638%) hue-rotate(160deg) brightness(110%) contrast(108%);
}

.modalContent > input:nth-child(2){
    width: 262px;
    font-size: 16px;
    outline: none;
    margin: 0;
    margin-top: 15px;
    padding: 16px 62px 13px 23px;
    border-radius: 8px;
    border: 2px solid #E1E8E9;
    font-weight: 500;
    font-family: 'Arial' , sans-serif;
}

.textArea{
    width: 301px;
    font-family: 'Arial' , sans-serif;
    font-size: 16px;
    outline: none;
    margin: 0;
    margin-top: 19px;
    padding: 16px 23px 20px 23px;
    border-radius: 8px;
    border: 2px solid #E1E8E9;
    line-height: 30px;
    resize: none;
}

.buttonModal{
    display: flex;
    margin-top: 18px;
}

label{
    display: block;
    margin: 0;
    width: 103px;
    color: #FFFFFF;
    background-color: #9B9B9B;
    text-align: center;
    line-height: 31px;
    border-radius: 5px;
}

.onHold > label{
    margin-left: 35px;
}

.urgent > label:hover{
    background-color: #ff6c6c;
    cursor: pointer;
    transition: color 0s;
} 

.onHold > label:hover{
    background-color: #FFB951;
    cursor: pointer;
} 

.urgent > input:checked +label{
    background-color: #FF3838;
}

.onHold > input:checked +label{
    background-color: #FF9900;
}

.urgent > input, .onHold > input {
    display: none;
}

.modalContent > p:nth-child(5){
    width: 350px;
    color: #ffffff;
    background-color: #00B49E;
    text-align: center;
    line-height: 42px;
    border-radius: 10px;
    margin: 0;
    margin-top: 35px;
}

.modalContent > p:nth-child(5):hover{
    cursor: pointer;
    background-color: #53e3d3;
}

.error::placeholder{
    color: red;
}

/* task */ 

li{
    list-style: none;
}

.task{
    width: 405px;
    padding-left: 21px;
    font-family: 'Merriweather Sans' , sans-serif;
    font-weight: 500;
    border: 2px solid #E1E8E9;
    border-radius: 8px;
    margin-left: 14px;
    margin-bottom: 15px;
    padding-bottom: 16px;
}

.task:hover{
    border: 2px solid #53e3d3;
    cursor: pointer;
}

.task:focus{
    border: 2px solid #00B49E;
}

.noClickedTask{
    width: 405px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 15px;
}

.noClickedTask > p:nth-child(1){
    width: 335px;
    font-size: 20px;
    color: #3E3E3E;
    margin: 0;
}

.alertUrgent{
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background-color: #FF3838;
    margin-left: 10px;
}

.alertOnHold{
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background-color: #FF9900;
    margin-left: 10px;
}

.noClickedTask > p:nth-child(3){
    font-size: 30px;
    color: #9B9B9B;
    margin: 0;
    margin-left: auto;
    margin-right: -3px;
    margin-top: 0px;
    rotate: 90deg;
    letter-spacing: -1px;
    font-weight: 700;
}

.noClickedTask:hover > .clear:nth-child(3){
    color: #53e3d3;
}

.task:focus > .taskAlertUrgent, .task:focus > .taskAlertOnHold {
    display: block;
}

.task:focus > .clickedTask{
    display: flex;
}

.task:focus > .noClickedTask > .alertUrgent, .task:focus > .noClickedTask > .alertOnHold, .task:focus > .noClickedTask > p:nth-child(3) {
    display: none;
}

.taskAlertUrgent{
    width: 103px;
    background-color: #FF3838;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 0;
    margin-top: 10px;
    display: none;
}

.taskAlertOnHold{
    width: 103px;
    background-color: #FF9900;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 0;
    margin-top: 10px;
    display: none;
}

.clickedTask{
    font-family: 'Merriweather Sans' , sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    display: none;
}

.clickedTask > p:nth-child(1){
   width: 353px;
   margin: 0;
}

.clickedTask > p:nth-child(1)::first-letter{
    text-transform: uppercase;
}

.clickedTask > img:nth-child(2){
    margin-left: auto;
    margin-right: 10px;
}


/* darkMode */ 

.darkHeader{
    background-color: #707070;
}

.darkApp{
    background-color: #363636;
    color: #E3E3E3;
}

.clearLogo{
    display: none;
}

.darkLogo{
    display: block;
    margin: 0;
    margin-top: 30px;
    margin-left: 38px;
    margin-right: 16px;
}


.darkFilterTask{
    border: 2px solid #25D6E1;
}

.darkFilterTask:hover{
    border: 2px solid #AAFAFF;
}

.darkFilterTask:focus{
    border: 2px solid #25D6E1;
}


.darkNewTask{
    background-color: #25D6E1;
}

.darkNewTask:hover{
    background-color: #AAFAFF;
}

.darkButtonActivate{
    background-color: #ffffff;
    padding: 3px 25px 0px 5px;
    transition: padding 0.3s ease;
}

.darkButtonActivate:hover{
    background-color: #AAFAFF;
}

.darkButtonActivateCircle{
    background-color: #000000;
}

.darkPlannedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 8px;
    border-top: 10px solid #04E1FF ;
    background-color: #707070; 
}

.darkCount{
    border: 1px solid #E3E3E3;
}

.darkAddTask{
    color: #25D6E1;
}

.darkAddTask:hover{
   color: #AAFAFF;
}


.darkInProgressContainer{
    border-top: 10px solid #FFD600 ;
    background-color: #707070; 
}

.darkCompletedContainer{
    border-top: 10px solid #C3FF1A;
    background-color: #707070; 
}

/* dark modal */

.darkModalContent {
    background-color: #808080;
}

.taskDescription > p:nth-child(1):hover + .dark{
    filter: invert(100%) sepia(24%) saturate(5638%) hue-rotate(160deg) brightness(110%) contrast(108%);
}

.dark{
    filter: invert(99%) sepia(0%) saturate(3931%) hue-rotate(91deg) brightness(122%) contrast(78%);
}

.dark:hover{
    filter: invert(100%) sepia(24%) saturate(5638%) hue-rotate(160deg) brightness(110%) contrast(108%);
}


.darkModalContent > p:nth-child(5){
    background-color: #25D6E1;
}

.darkModalContent > p:nth-child(5):hover{
    background-color: #AAFAFF;
}

.darkCross{
    filter: none;
    color: #E3E3E3;
}

.darkCross:hover{
    filter: none;
    color: #25D6E1;
}


/* dark task */


.darkTask:hover{
    border: 2px solid #25D6E1;
}

.darkTask:focus{
    border: 2px solid #25D6E1;
}


.darkTask > .noClickedTask > p:nth-child(1){
    color: #e3e3e3;
}



.darkTask > .noClickedTask > p:nth-child(3){
    filter: none;
    color: #e3e3e3;
}

.darkTask:hover > .noClickedTask > p:nth-child(3){
    filter: none;
    color: #25D6E1;
}


