:root{
    font-size: 100%;
    --color-turquoise : #00B49E;
    --color-turquoise-hover : #53e3d3;
    --color-darkbutton : #3E3E3E; 
    --color-blue-planned : #86D3EB;
    --color-border : #E1E8E9;  
    --color-white : #FFFFFF;
    --color-dark-text : #E3E3E3;
    --color-yellow : #F6DA44; 
    --color-green : #9FD700;  
    --color-grey : #9B9B9B;  
    --color-red-urgent : #FF3838;
    --color-red-urgent-hover : #ff6c6c;
    --color-orange-urgent : #FF9900;
    --color-orange-urgent-hover : #FFB951;
    --color-red-error : #FF0000; 
    --color-dark-grey-background : #363636;
    --color-dark-turquoise : #25D6E1; 
    --color--dark-turquoise-hover : #AAFAFF;  
    --color-black : #000000;
    --color-dark-blue : #04E1FF; 
    --color-dark-yellow : #FFD600; 
    --color-dark-green : #C3FF1A;
    --color-dark-grey-modal : #808080; 
    --color-dark-grey-over : #a3a3a3; 
    --color-dark-grey : #707070;
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/assets/font/JetBrains_Mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(src/assets/font/Merriweather_Sans_Medium.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(src/assets/font/Merriweather_Sans_Bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    margin: 0;
}

#app{
   margin: auto;
    font-family: 'Merriweather Sans' , sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.1875rem;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.clearApp{
    background-color: var(--color-border);
    color: var(--color-darkbutton);
    transition: background-color 1s;
    transition: color 1s;
}

.footer{
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: var(--color-white);
    box-shadow: 0rem -0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

header{
    max-width: 1440px;
    display: flex;
    background-color: var(--color-white);
    margin: 0;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 1s;
    padding-top: 0.625rem;
}

header > img:nth-child(1){
    margin: 1rem 0rem 1.5rem 1.5rem ;
}

.darkLogoHidden{
    display: none;
}

.new_task{
    width: 167px;
    display: flex;
    align-items: center;
    background-color: var(--color-turquoise);
    border-radius: 0.625rem;
    color: var(--color-white);
    margin: 1.9375rem 0rem 1.875rem 0rem;
    transition: background-color 1s;
}

.new_task:hover{
    background-color: var(--color-turquoise-hover);
    cursor: pointer;
    transition: background-color 0s;
}

.new_task > p:nth-child(1){
    font-size: 3.125rem;
    line-height: 3.125rem;
    margin: 0;
    margin-left: 0.5625rem;
}

.new_task > p:nth-child(2){
    font-size: 1.375rem;
    line-height: 3.125rem;
    margin: 0;
    margin-left: 0.4375rem;
}

header > input{
    width: 493px;
    font-family: 'Arial' , sans-serif;
    border: 0.125rem solid var(--color-turquoise);
    padding: 0.8125rem 0 0.625rem 1.875rem;
    margin: 1.9375rem 5.8125rem 1.875rem 12.375rem;
    font-size: 1.25rem;
    border-radius: 0.625rem;
    outline: none;
    transition: border-color 0.3s ease;
}

header > input:hover{
    border: 0.125rem solid var(--color-turquoise-hover);
    transition: border-color 0s ease;
}

header > input:focus{
    border: 0.125rem solid var(--color-turquoise);
    transition: border-color 0s ease;
}

.darkButton{
    width: 16px;
    border-radius: 0.6875rem;
    background-color: var(--color-darkbutton);
    padding: 0.1875rem 0.3125rem 0.1875rem 1.5625rem;
    margin: 2.8125rem 5.0625rem 2.8125rem 7.75rem;
    transition: padding 0.3s ease; 
}

.darkButton:hover{
    background-color: var(--color-dark-grey);
    cursor: pointer;
}

.darkButtonCircle{
    width: 16px;
    height: 16px;
    border-radius: 0.625rem;
    background-color: var(--color-white);
}

/* container */ 

.containerTask{
    margin: 0;
    margin-top: 4.3125rem;
    margin-left: 0.3125rem;
    display: flex;
    justify-content: space-between;
}

.plannedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 0.5rem;
    border-top: 0.625rem solid var(--color-blue-planned) ;
    background-color: var(--color-white); 
    transition: background-color 1s;
    justify-content: center;
}

.planned{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    border-bottom: 0.125rem solid var(--color-border);
}

.title{
    margin-left: 1.875rem;
}

.plannedCount{
    width: 37px;
    margin-left: 0.9375rem;
    border: 0.0625rem solid var(--color-darkbutton);
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2.375rem;
}

.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-turquoise);
    margin: 0;
    padding: 1.3125rem 0rem 1.3125rem 0rem;
    transition: color 1s;
}

.addTask:hover{
    cursor: pointer;
   color: var(--color-turquoise-hover);
   transition: color 0s;
}

.addTaskPlus{
    font-size: 2.9375rem;
    font-weight: 700;
    line-height: 1.875rem;
    margin: 0;
}

.addTaskText{
    margin: 0;
    font-size: 1.375rem;
    margin-left: 0.5rem;
}

.inProgressContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 0.5rem;
    border-top: 0.625rem solid var(--color-yellow) ;
    background-color: var(--color-white); 
    margin-left: 1.3125rem;
    transition: background-color 1s;
}

.inProgress{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    border-bottom: 0.125rem solid var(--color-border);
}

.inProgressCount{
    width: 37px;
    margin-left: 0.9375rem;
    border: 0.0625rem solid var(--color-darkbutton);
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2.375rem;
}

.completedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 0.5rem;
    border-top: 0.625rem solid var(--color-green);
    background-color: var(--color-white); 
    margin-left: 1.3125rem;
    transition: background-color 1s;
}

.completed{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    border-bottom: 0.125rem solid var(--color-border);
}

.completedCount{
    width: 37px;
    margin-left: 0.9375rem;
    border: 0.0625rem solid var(--color-darkbutton);
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2.375rem;
}

.completed > img{
    margin-left: 10.625rem;
}

/* modal */ 

.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #fff;
    padding-left: 2.625rem;
    border-radius: 0.9375rem;
    width:395px;
    position: relative;
    display: block;
    padding-bottom: 1.5625rem;
}

.modalContent > *{
    grid-row-start: 1;
    grid-column-start: 1;
}

.taskDescription > p:nth-child(1):hover + .clear{
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(257%) hue-rotate(118deg) brightness(96%) contrast(91%);
}

.taskDescription{
    width: 395px;
    display: flex;
}

.taskDescription > p:nth-child(1){
    font-size: 1.5rem;
    margin: 0;
    margin-top: 2.0625rem;
    white-space: nowrap;
}

.taskDescription > p:nth-child(1):hover{
    cursor: pointer;
}

.taskDescription > img:nth-child(2){
    margin-top: 2.1875rem;
    padding-left: 1.25rem;
}

.taskDescription > p:nth-child(3){
    font-size: 3.125rem;
    margin-left: auto;
    margin-right: 1.0625rem;
    rotate: 45deg;
    line-height: 0rem;
    margin-top: 2rem;
}

.clear:hover{
    filter: brightness(0) saturate(100%) invert(69%) sepia(100%) saturate(257%) hue-rotate(118deg) brightness(96%) contrast(91%);
    cursor: pointer;
}

.dark{
    filter: invert(99%) sepia(0%) saturate(3931%) hue-rotate(91deg) brightness(122%) contrast(78%);
}

.dark:hover{
    filter: invert(100%) sepia(24%) saturate(5638%) hue-rotate(160deg) brightness(110%) contrast(108%);
}

.modalContent > input:nth-child(2){
    width: 262px;
    font-size: 1rem;
    outline: none;
    margin: 0;
    margin-top: 0.9375rem;
    padding: 1rem 3.875rem 0.8125rem 1.4375rem;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--color-border);
    font-weight: 500;
    font-family: 'Arial' , sans-serif;
}

.textArea{
    width: 301px;
    font-family: 'Arial' , sans-serif;
    font-size: 1rem;
    outline: none;
    margin: 0;
    margin-top: 1.1875rem;
    padding: 1rem 1.4375rem 1.25rem 1.4375rem;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--color-border);
    line-height: 1.875rem;
    resize: none;
}

.buttonModal{
    display: flex;
    margin-top: 1.125rem;
}

label{
    display: block;
    margin: 0;
    width: 103px;
    color: var(--color-white);
    background-color: var(--color-grey);
    text-align: center;
    line-height: 1.9375rem;
    border-radius: 0.3125rem;
}

.onHold > label{
    margin-left: 2.1875rem;
}

.urgent > label:hover{
    background-color: var(--color-red-urgent-hover);
    cursor: pointer;
    transition: color 0s;
} 

.onHold > label:hover{
    background-color: var(--color-orange-urgent-hover);
    cursor: pointer;
} 

.urgent > input:checked +label{
    background-color: var(--color-red-urgent);
}

.onHold > input:checked +label{
    background-color: var(--color-orange-urgent);
}

.urgent > input, .onHold > input {
    display: none;
}

.modalContent > p:nth-child(5){
    width: 350px;
    color: var(--color-white);
    background-color: var(--color-turquoise);
    text-align: center;
    line-height: 2.625rem;
    border-radius: 0.625rem;
    margin: 0;
    margin-top: 2.1875rem;
}

.modalContent > p:nth-child(5):hover{
    cursor: pointer;
    background-color: var(--color-turquoise-hover);
}

.error::placeholder{
    color: var(--color-red-error);
}

/* task */ 

li{
    list-style: none;
}

.task{
    width: 405px;
    padding-left: 1.3125rem;
    font-family: 'Merriweather Sans' , sans-serif;
    font-weight: 500;
    border: 0.125rem solid var(--color-border);
    border-radius: 0.5rem;
    margin-left: 0.75rem;
    margin-bottom: 0.9375rem;
    padding-bottom: 1rem;
}

.task:hover{
    border: 0.125rem solid var(--color-turquoise-hover);
    cursor: pointer;
}

.task:focus{
    border: 0.125rem solid var(--color-turquoise);
}

.noClickedTask{
    width: 405px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 0.9375rem;
}

.noClickedTask > p:nth-child(1){
    width: 335px;
    font-size: 1.25rem;
    color: var(--color-darkbutton);
    margin: 0;
    word-wrap: break-word;
}

.alertUrgent{
    width: 17px;
    height: 17px;
    border-radius: 0.3125rem;
    background-color: var(--color-red-urgent);
    margin-left: 0.625rem;
}

.alertOnHold{
    width: 17px;
    height: 17px;
    border-radius: 0.3125rem;
    background-color: var(--color-orange-urgent);
    margin-left: 0.625rem;
}

.noClickedTask > p:nth-child(3){
    font-size: 1.875rem;
    color: var(--color-grey);
    margin: 0;
    margin-left: auto;
    margin-right: -0.1875rem;
    margin-top: 0rem;
    rotate: 90deg;
    letter-spacing: -0.0625rem;
    font-weight: 700;
}

.noClickedTask:hover > .clear:nth-child(3){
    color: var(--color-turquoise-hover);
}

.task:focus > .taskAlertUrgent, .task:focus > .taskAlertOnHold {
    display: block;
}

.task:focus > .clickedTask{
    display: flex;
}

.task:focus > .noClickedTask > .alertUrgent, .task:focus > .noClickedTask > .alertOnHold, .task:focus > .noClickedTask > p:nth-child(3) {
    display: none;
}

.taskAlertUrgent{
    width: 103px;
    background-color: var(--color-red-urgent);
    color: var(--color-white);
    text-align: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    border-radius: 0.3125rem;
    margin: 0;
    margin-top: 1.25rem;
    display: none;
}

.taskAlertOnHold{
    width: 103px;
    background-color: var(--color-orange-urgent);
    color: var(--color-white);
    text-align: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    border-radius: 0.3125rem;
    margin: 0;
    margin-top: 1.25rem;
    display: none;
}

.clickedTask{
    font-family: 'Merriweather Sans' , sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    display: none;
}

.clickedTask > p:nth-child(1){
   width: 353px;
   margin: 0;
   word-wrap: break-word;
}

.clickedTask > p:nth-child(1)::first-letter{
    text-transform: uppercase;
}

.clickedTask > img:nth-child(2){
    margin-left: auto;
    margin-right: 0.625rem;
}


/* darkMode */ 

.darkHeader{
    background-color: var(--color-dark-grey);
}

.darkApp{
    background-color: var(--color-dark-grey-background);
    color: var(--color-dark-text);
}

.clearLogo{
    display: none;
}

.darkLogo{
    display: block;
    margin: 0;
    margin: 1rem 0rem 1.5rem 1.5rem ;
}


.darkFilterTask{
    border: 0.125rem solid var(--color-dark-turquoise);
}

.darkFilterTask:hover{
    border: 0.125rem solid var(--color--dark-turquoise-hover);
}

.darkFilterTask:focus{
    border: 0.125rem solid var(--color-dark-turquoise);
}


.darkNewTask{
    background-color: var(--color-dark-turquoise);
}

.darkNewTask:hover{
    background-color: var(--color--dark-turquoise-hover);
}

.darkButtonActivate{
    background-color: var(--color-white);
    padding: 0.1875rem 1.5625rem 0rem 0.3125rem;
    transition: padding 0.3s ease;
}

.darkButtonActivate:hover{
    background-color: var(--color--dark-turquoise-hover);
}

.darkButtonActivateCircle{
    background-color: var(--color-black);
}

.darkPlannedContainer{
    width: 454px;
    min-height: 637px;
    border-radius: 0.5rem;
    border-top: 0.625rem solid var(--color-dark-blue) ;
    background-color: var(--color-dark-grey); 
}

.darkCount{
    border: 0.0625rem solid var(--color-dark-text);
}

.darkAddTask{
    color: var(--color-dark-turquoise);
}

.darkAddTask:hover{
   color: var(--color--dark-turquoise-hover);
}


.darkInProgressContainer{
    border-top: 0.625rem solid var(--color-dark-yellow) ;
    background-color: var(--color-dark-grey); 
}

.darkCompletedContainer{
    border-top: 0.625rem solid var(--color-dark-green);
    background-color: var(--color-dark-grey); 
}

/* dark modal */

.darkModalContent {
    background-color: var(--color-dark-grey-modal);
}

.taskDescription > p:nth-child(1):hover + .dark{
    filter: invert(100%) sepia(24%) saturate(5638%) hue-rotate(160deg) brightness(110%) contrast(108%);
}

.dark{
    filter: invert(99%) sepia(0%) saturate(3931%) hue-rotate(91deg) brightness(122%) contrast(78%);
}

.dark:hover{
    filter: invert(100%) sepia(24%) saturate(5638%) hue-rotate(160deg) brightness(110%) contrast(108%);
}


.darkModalContent > p:nth-child(5){
    background-color: var(--color-dark-turquoise);
}

.darkModalContent > p:nth-child(5):hover{
    background-color: var(--color--dark-turquoise-hover);
}

.darkCross{
    filter: none;
    color: var(--color-dark-text);
}

.darkCross:hover{
    filter: none;
    color: var(--color-dark-turquoise);
}


/* dark task */


.darkTask:hover{
    border: 0.125rem solid var(--color-dark-turquoise);
}

.darkTask:focus{
    border: 0.125rem solid var(--color-dark-turquoise);
}


.darkTask > .noClickedTask > p:nth-child(1){
    color: var(--color-dark-text);
}



.darkTask > .noClickedTask > p:nth-child(3){
    filter: none;
    color: var(--color-dark-text);
}

.darkTask:hover > .noClickedTask > p:nth-child(3){
    filter: none;
    color: var(--color-dark-turquoise);
}


/* draggable task */ 

.dragging {
    opacity: 0.8;
}

.over {
    background-color: var(--color-border);
    
}

.darkOver{
    background-color: var(--color-dark-grey-over);
}

@media (min-width: 1024px) and (max-width: 1439px){

    header{
        max-width: 1024px;
    }

    header > img:nth-child(1){
        margin: 1.6875rem 0rem 1.625rem 1.0625rem ;
        width: 162px;
        height: 57px;
    }

    .darkLogo{
        margin: 1.6875rem 0rem 1.625rem 1.0625rem ;
        width: 162px;
        height: 57px;
    }

    header > input{
        width: 357px;
        margin: 2.1875rem 3.875rem 2.5rem 5.125rem;
        padding: 0.5rem 0 0.5rem 1.875rem;
        
    }

    .new_task{
        min-width: 150px;
        margin: 2.1875rem 0rem 2.5625rem 0rem;
    }
    
    .new_task > p:nth-child(1){
        font-size: 2.5rem;
        line-height: 2.6875rem;
        margin: 0;
        margin-left: 0.5625rem;
    }
    
    .new_task > p:nth-child(2){
        font-size: 1.25rem;
        line-height: 2.6875rem;
        margin: 0;
        margin-left: 0.4375rem;
    }

    .darkButton{
        margin: 2.875rem 3.875rem 3.1875rem 5.125rem;
    }

    /* container */ 

    .containerTask{
        margin-left: 0rem;
    }

    .plannedContainer, .inProgressContainer, .completedContainer{
        width: 323px;
    }

    .inProgressContainer{
        margin-left: 0.8125rem;
    }

    .completedContainer{
        margin-left: 0.8125rem;
    }

    .title{
        margin-left: 1.375rem;
    }

    .completed > img{
        margin-left: 2.75rem;
    }

    /* task */ 

    .task{
        width: 288px;
        padding-left: 1rem;
        margin-left: 0.4688rem;
    }


    .noClickedTask{
        width: 305px;
        margin-top: 0.9375rem;
    }

    .noClickedTask > p:nth-child(1){
        width: 225px;
        font-size: 1rem;
    }

    .alertUrgent, .alertOnHold {
        margin-right: 0.8125rem;
    }


    .noClickedTask > p:nth-child(3){
        font-size: 1.875rem;
        margin-right: 1rem;
    }



    .clickedTask{
        font-size: 1rem;
        margin-top: 1rem;
    }

    .clickedTask > p:nth-child(1){
    width: 225px;
    margin: 0;
    }

    .clickedTask > img:nth-child(2){
        margin-left: auto;
        margin-right: 0.625rem;
    }

    .modalContent {
        padding-left: 2rem;
        width:300px;
    }

    .taskDescription{
        width: 300px;
    }

    .taskDescription > p:nth-child(3){
        margin-right: 0.4375rem;
    }

    .modalContent > input:nth-child(2){
        width: 180px;
    }

    .textArea{
        width: 219px;
    }

    .modalContent > p:nth-child(5){
        width: 269px;
        margin-top: 1.5625rem;
    }


}

@media (min-width: 768px) and (max-width: 1023px){

    header{
        max-width: 768px;
        padding-top: 0rem;
    }

    header > img:nth-child(1){
        width: 162px;
        height: 48px;
        margin: 1.4375rem 0rem 0.625rem 0.8125rem;
    }

    .darkLogo{
        width: 162px;
        height: 48px;
        margin: 1.4375rem 0rem 0.625rem 0.8125rem;
    }
    
    header > input{
        max-width: 247px;
        margin: 1.9375rem 3rem 1.25rem 3.4375rem;
        font-size: 1rem;
        padding: 0.1875rem 0 0rem 1.875rem;
    }

    .new_task{
        min-width: 119px;
        margin: 1.9375rem 0rem 1.25rem 0rem;
    }
    
    .new_task > p:nth-child(1){
        font-size: 2.5rem;
        line-height: 0rem;
        margin: 0;
        margin-left: 0.4375rem;
    }
    
    .new_task > p:nth-child(2){
        font-size: 1rem;
        line-height: 0rem;
        margin: 0;
        margin-left: 0.25rem;
    }

    .darkButton{
        margin: 2.5rem 3.4375rem 1.5625rem 2.6875rem;
        padding-bottom: 0.1875rem;
        
    }

    /* container */ 

    .containerTask{
        margin-left: 0rem;
    }

    .plannedContainer, .inProgressContainer, .completedContainer{
        width: 243px;
    }

    .inProgressContainer{
        margin-left: 0.625rem;
    }

    .completedContainer{
        margin-left: 0.625rem;
    }

    .title{
        margin-left: 1rem;
        font-size: 1.125rem;
    }

    .plannedCount, .inProgressCount, .completedCount{
        border-radius: 0.5rem;
        width: 27px;
        line-height: 1.75rem;
        font-size: 1.125rem;
    }

    .completed > img{
        width: 28px;
        margin-top: 0.1875rem;
        margin-left: 2rem;
    }

    .addTask{
        padding: 0.9375rem 0rem 0.9375rem 0rem;
    }
    
    .addTaskPlus{
        font-size: 2.3125rem;
        font-weight: 700;
    }
    
    .addTaskText{
        margin: 0;
        font-size: 1.125rem;
        margin-left: 0.5rem;
    }

    /* task */ 

    .task{
        width: 216px;
        padding-left: 0.875rem;
        margin-left: 0.3125rem;
        margin-bottom: 0.625rem;
        padding-bottom: 0.5rem;
    }

    .noClickedTask{
        width: 230px;
        margin-top: 0.5rem;
    }


    .noClickedTask > p:nth-child(1){
        width: 165px;
        font-size: 0.875rem;
    }

    .alertUrgent, .alertOnHold {
        margin-left: 0.5rem;
        width: 12px;
        height: 12px;
    }

    .noClickedTask > p:nth-child(3){
        font-size: 1.375rem;
        margin-right: 1rem;
    }

    .taskAlertUrgent{
        width: 75px;
        font-size: 0.625rem;
        margin-top: 0.5rem;
    }

    .taskAlertOnHold{
        width: 75px;
        font-size: 0.625rem;
        margin-top: 0.5rem;
    }

    .clickedTask{
        font-family: 'Merriweather Sans' , sans-serif;
        font-size: 0.75rem;
        margin-top: 0.5rem;
    
    }

    .clickedTask > p:nth-child(1){
    width: 175px;
    }

    .clickedTask > img:nth-child(2){
        width: 20px;
    }

    .modalContent {
        width: 263px;
        padding-left: 2rem;
        padding-bottom: 1.5625rem;
    }

    .taskDescription{
        width: 263px;
    }


    .taskDescription > p:nth-child(1){
        font-size: 1.125rem;
        margin-top: 1.875rem;
    }

    .taskDescription > img:nth-child(2){
        width: 12px;
        margin-top: 1.875rem;
        padding-left: 1.25rem;
    }


    .taskDescription > p:nth-child(3){
        font-size: 2.8125rem;
        margin-right: 0.4375rem;
    }

    .modalContent > input:nth-child(2){
        width: 190px;
        font-size: 0.875rem;
        margin-top: 0.3125rem;
        padding: 0.9375rem 1.4375rem 0.8125rem 0.8125rem;
    }

    .textArea{
        width: 213px;
        font-size: 0.875rem;
        margin-top: 1.1875rem;
        padding: 0.3125rem 0rem 0.625rem 0.8125rem;
        line-height: 1.875rem;
    }

    .buttonModal{
        margin-top: 1.125rem;
    }

    label{
        width: 75px;
        line-height: 1.4375rem;
        font-size: 0.625rem;

    }

    .onHold > label{
        margin-left: 1.5625rem;
    }

    .modalContent > p:nth-child(5){
        width: 230px;
        margin-top: 1.5625rem;
        line-height: 2.625rem;
        font-size: 0.875rem;
    }

}

@media (min-width: 2560px) and (max-width: 3439px){

    header{
        min-width: 2560px;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    header > img:nth-child(1){
        width: 289px;
        height: 89px;
        margin: 1.6875rem 0rem 1.625rem 3.25rem ;
    }

    .darkLogoHidden{
        width: 289px;
        height: 89px;
        margin: 1.6875rem 0rem 1.625rem 3.25rem ;
    }
    
    .new_task{
        min-width: 250px;
        background-color: var(--color-turquoise);
        border-radius: 0.625rem;
        color: var(--color-white);
        margin: 1.9375rem 0rem 1.875rem 0rem;
        transition: background-color 1s;
    }
    
    .new_task:hover{
        background-color: var(--color-turquoise-hover);
        cursor: pointer;
        transition: background-color 0s;
    }
    
    .new_task > p:nth-child(1){
        font-size: 4.375rem;
        line-height: 3.125rem;
        margin-left: 1.1875rem;
    }
    
    .new_task > p:nth-child(2){
        font-size: 2rem;
        margin-left: 1.0625rem;
    }

    .darkNewTask{
        background-color: var(--color-dark-turquoise);
    }
    
    header > input{
        width: 800px;
        border: 0.1875rem solid var(--color-turquoise);
        padding: 0.8125rem 0 0.625rem 1.875rem;
        margin: 1.9375rem 12.5rem 1.875rem 32.75rem;
        font-size: 1.875rem;
    }
    
    header > input:hover{
        border: 0.1875rem solid var(--color-turquoise-hover);
        transition: border-color 0s ease;
    }
    
    header > input:focus{
        border: 0.1875rem solid var(--color-turquoise);
        transition: border-color 0s ease;
    }

    .darkFilterTask{
        border: 0.1875rem solid var(--color-dark-turquoise);
    }

    .darkFilterTask:hover{
        border: 0.1875rem solid var(--color--dark-turquoise-hover);
    }

    .darkFilterTask:focus{
        border: 0.1875rem solid var(--color-dark-turquoise);
    }
    
    
    .darkButton{
        width: 35px;
        height: 40px;
        border-radius: 1.875rem;
        background-color: var(--color-darkbutton);
        padding: 0.4375rem 0.4375rem 0rem 3.4375rem;
        margin-left: 12.5rem;
    }

    .darkButtonActivate{
        background-color: var(--color-white);
        padding: 0.4375rem 3.4375rem 0rem 0.5625rem;
        transition: padding 0.3s ease;
    }

    .darkButtonActivate{
        background-color: var(--color-white);
        transition: padding 0.3s ease;
    }
    
    .darkButtonActivate:hover{
        background-color: var(--color--dark-turquoise-hover);
    }
        
    .darkButtonCircle{
        width: 32px;
        height: 32px;
        border-radius: 1.125rem;
        background-color: var(--color-white);
    }

    .darkButtonActivateCircle{
        background-color: var(--color-black);
    }
    
    /* container */ 
    
    .containerTask{
        margin: 0;
        margin-top: 6.25rem;
    }
    
    .plannedContainer{
        width: 803px;
        min-height: 637px;
        border-radius: 0.5rem;
        border-top: 1.0625rem solid var(--color-blue-planned) ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .planned, .inProgress{
        width: 803px;
        display: flex;
        font-size: 2.625rem;
        align-items: center;
        justify-content: center;
        border-bottom: 0.25rem solid var(--color-border);
    }
    
    .plannedCount, .inProgressCount, .completedCount{
        margin-left: 2.1875rem;
        border: 0.125rem solid var(--color-darkbutton);
        width: 60px;
        line-height: 3.75rem;
    }

    .darkCount{
        border: 0.125rem solid var(--color-dark-text);
    }
    
    .addTask{
        padding: 2.25rem 0rem 2.25rem 0rem;
    }
    
    .addTaskPlus{
        font-size: 5rem;
        font-weight: 700;
        line-height: 3.1875rem;
        margin: 0;
    }
    
    .addTaskText{
        margin: 0;
        font-size: 2.3125rem;
        margin-left: 0.5rem;
    }
    
    .inProgressContainer{
        width: 803px;
        min-height: 1083px;
        border-top: 1.0625rem solid var(--color-yellow) ;
        margin-left: 2.1875rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    

    

    .completedContainer{
        width: 803px;
        border-top: 1.0625rem solid var(--color-green);
        margin-left: 2.1875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .completed{
        width: 803px;
        font-size: 2.625rem;
        border-bottom: 0.25rem solid var(--color-border);
    }

    .completed > .title {
        margin-left: 14.0625rem;
    }

    
    .completed > img{
        width: 55px;
        height: 55px;
        margin-left: 7.5rem;
    }


    /* task */ 

    .task{
        width: 750px;
        padding-left: 0.875rem;
        margin-left: 0.3125rem;
        margin-bottom: 0.625rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1.875rem;
        border: 0.1875rem solid var(--color-border);
    }

    .noClickedTask{
        width: 750px;
        margin-top: 0.5rem;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
    }


    .noClickedTask > p:nth-child(1){
        width: 600px;
        font-size: 1.875rem;
        margin-left: 1.25rem;
    }

    .alertUrgent, .alertOnHold {
        margin-left: 1.875rem;
        width: 28px;
        height: 28px;
    }

    .noClickedTask > p:nth-child(3){
        font-size: 2.25rem;
        margin-right: 1rem;
    }

    .taskAlertUrgent{
        width: 145px;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 1.25rem;
    }

    .taskAlertOnHold{
        width: 145px;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 1.25rem;
    }

    .clickedTask{
        font-size: 1.375rem;
        margin-top: 0.5rem;
        padding-bottom: 0.9375rem;
        padding-top: 0.625rem;
    }

    .clickedTask > p:nth-child(1){
        width: 620px;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    .clickedTask > img:nth-child(2){
        width: 40px;
        height: 40px;
        margin-right: 1.25rem;
    }

    /* modal */

    .modalContent {
        padding-left: 3.25rem;
        width:680px;
        padding-bottom: 2.1875rem;
    }

    
    .taskDescription{
        width: 665px;
    }
    
    .taskDescription > p:nth-child(1){
        font-size: 2.625rem;
        margin-top: 3.125rem;
    }
    
    .taskDescription > img:nth-child(2){
        width: 56px;
        height: 41px;
        margin-top: 3.25rem;
        padding-left: 1.875rem;
    }
    
    .taskDescription > p:nth-child(3){
        font-size: 6.25rem;
        margin-right: 0rem;
        margin-top: 3.125rem;
    }
    

    .modalContent > input:nth-child(2){
        width: 520px;
        font-size: 1.875rem;
        margin-top: 0.9375rem;
        border: 0.1875rem solid var(--color-border);
        padding: 1.5625rem 3.875rem 1.5625rem 1.4375rem;
    }
    
    .textArea{
        width: 559px;
        font-size: 1.875rem;
        margin-top: 1.875rem;
        padding: 1.5625rem 1.4375rem 6.25rem 1.4375rem;
        border: 0.1875rem solid var(--color-border);
        line-height: 3.125rem;

    }
    
    .buttonModal{
        display: flex;
        margin-top: 1.875rem;
    }
    
    label{
        width: 170px;
        line-height: 3.25rem;
        font-size: 1.5rem;
    }
    
    .onHold > label{
        margin-left: 4.1875rem;
    }
    
    
    .modalContent > p:nth-child(5){
        width: 611px;
        line-height: 4.875rem;
        font-size: 1.75rem;
        margin-top: 2.1875rem;
    }
    
    
    
}

@media (max-width: 767px){

    #app{
        min-height: 100vh;
        box-sizing: border-box;
        padding-bottom: 9.375rem;
    }

    /* Header */ 


    header{
        width: 100%;
        display: flex;
        background-color: var(--color-white);
        margin: 0;
        box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        transition: background-color 1s;
        padding-top: 0.625rem;
    }
    
    header > img:nth-child(1){
        width: 170px;
        height: 52px;
        margin: 28px 53px 21px 12px ;
        display: block;
    }


    .darkLogo{
        position: absolute;
        display: block;
        width: 170px;
        height: 52px;
        margin: 28px 53px 21px 12px ;
    }
    
    
    .new_task{
        min-width: 167px;
        margin-left: 3.9375rem;
        align-items: center;
        background-color: var(--color-turquoise);
        border-radius: 0.625rem;
        color: var(--color-white);
        margin: 1.9375rem 0rem 1.875rem 0rem;
        transition: background-color 1s;
    }
    
    .new_task:hover{
        background-color: var(--color-turquoise-hover);
        cursor: pointer;
        transition: background-color 0s;
    }
    
    .new_task > p:nth-child(1){
        font-size: 3.125rem;
        line-height: 3.125rem;
        margin: 0;
        margin-left: 0.5625rem;
    }
    
    .new_task > p:nth-child(2){
        font-size: 1.375rem;
        line-height: 3.125rem;
        margin: 0;
        margin-left: 0.4375rem;
    }
    
    .footer > input{
        width: 207px;
        font-family: 'Arial' , sans-serif;
        border: 0.125rem solid var(--color-turquoise);
        padding: 0.3125rem 0rem 0.3125rem 1.25rem;
        margin: 1.6875rem 0rem 1.75rem 2.1875rem;
        font-size: 1rem;
        border-radius: 0.625rem;
        outline: none;
        transition: border-color 0.3s ease;
        line-height: 0rem;
    }
    
    .footer > input:hover{
        border: 0.125rem solid var(--color-turquoise-hover);
        transition: border-color 0s ease;
    }
    
    .footer > input:focus{
        border: 0.125rem solid var(--color-turquoise);
        transition: border-color 0s ease;
    }
    
    .darkButton{
        width: 16px;
        border-radius: 0.6875rem;
        background-color: var(--color-darkbutton);
        padding: 0.1875rem 0.3125rem 0.1875rem 1.5625rem;
        margin: 2.1875rem 0rem 2.1875rem 3.9375rem;
        transition: padding 0.3s ease; 
    }
    
    .darkButton:hover{
        background-color: var(--color-dark-grey);
        cursor: pointer;
    }
    
    .darkButtonCircle{
        width: 16px;
        height: 16px;
        border-radius: 0.625rem;
        background-color: var(--color-white);
    }

    /* Container */

    .containerTask{
        display: flex; 
        flex-direction: column;
        margin: 0;
        margin-top: 4.3125rem;
        align-items: center;
    }
    
    .plannedContainer{
        width: 404px;
        min-height: 0px;
        border-radius: 0.5rem;
    }
    
    .inProgressContainer{
        width: 404px;
        min-height: 0px;
        margin-top: 1.3125rem;
        margin-left: 0rem;
    }
    
    .completedContainer{
        width: 404px;
        min-height: 0px;
        border-radius: 0.5rem;
        margin-top: 1.3125rem;
        margin-left: 0rem;

    }
    
    .completed > img{
        margin-left: 7.5rem;
    }

    /* Task */ 

    .task{
        width: 355px;
    }
    
    .noClickedTask{
        width: 355px;
    }
    
    .noClickedTask > p:nth-child(1){
        width: 290px;
    }

    .clickedTask > p:nth-child(1){
        width: 300px;
    }

    /* Modal */ 
    
    .modalContent {
        padding-left: 1.4375rem;
        width: 381px;
    }
    

    .taskDescription{
        width: 388px;
    }
    
    .taskDescription > p:nth-child(1){
        font-size: 1.5rem;
        margin: 0;
        margin-top: 2.0625rem;
    }
    

    .taskDescription > img:nth-child(2){
        margin-top: 2.1875rem;
        padding-left: 1.25rem;
    }
    
    .taskDescription > p:nth-child(3){
        font-size: 3.125rem;
        margin-left: auto;
        margin-right: 1.0625rem;
        rotate: 45deg;
        line-height: 0rem;
        margin-top: 2rem;
    }
    

    .modalContent > input:nth-child(2){
        width: 271px;
        padding: 1rem 2.5rem 0.8125rem 1.4375rem;
    }
    
    .textArea{
        width: 288px;
    }
    
    .modalContent > p:nth-child(5){
        width: 338px;
        margin-top: 1.875rem;
    }

    
  
}


